// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import * as Shared from './shared';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';

export class Responses extends APIResource {
  /**
   * Create a response using the OpenAI Responses API.
   *
   * This endpoint routes directly to OpenAI's Responses API. Only OpenAI models are
   * supported.
   *
   * @example
   * ```ts
   * const response = await client.responses.create();
   * ```
   */
  create(body: ResponseCreateParams, options?: RequestOptions): APIPromise<Response> {
    return this._client.post('/v1/responses', { body, ...options });
  }
}

/**
 * Responses API response with Dedalus extensions.
 */
export interface Response {
  /**
   * Unique identifier for this Response
   */
  id: string;

  /**
   * Unix timestamp (in seconds) when this Response was created
   */
  created_at: number;

  /**
   * The model used for this response
   */
  model: string;

  /**
   * Array of content items generated by the model
   */
  output: Array<Shared.JSONObjectInput>;

  /**
   * The status of the response generation
   */
  status: 'completed' | 'failed' | 'in_progress' | 'cancelled' | 'queued' | 'incomplete';

  /**
   * Whether the request was run in the background
   */
  background?: boolean | null;

  /**
   * Unix timestamp (in seconds) when the response was completed
   */
  completed_at?: number | null;

  /**
   * Conversation this response belongs to (requires BYOK)
   */
  conversation?: Shared.JSONObjectInput | null;

  /**
   * Error details if status is 'failed'
   */
  error?: Shared.JSONObjectInput | null;

  /**
   * Frequency penalty used for this response
   */
  frequency_penalty?: number | null;

  /**
   * Details about why the response is incomplete (e.g., max_output_tokens,
   * content_filter)
   */
  incomplete_details?: { [key: string]: string } | null;

  /**
   * System/developer instructions used
   */
  instructions?: string | Array<Shared.JSONObjectInput> | null;

  /**
   * Maximum output tokens allowed for this response
   */
  max_output_tokens?: number | null;

  /**
   * Maximum tool calls allowed for this response
   */
  max_tool_calls?: number | null;

  /**
   * MCP server failures keyed by server name.
   */
  mcp_server_errors?: { [key: string]: Response.MCPServerErrors } | null;

  /**
   * Results of MCP tool executions including inputs, outputs, and timing.
   */
  mcp_tool_results?: Array<Shared.MCPToolResult> | null;

  /**
   * Key-value pairs attached to this response (requires BYOK)
   */
  metadata?: { [key: string]: string } | null;

  /**
   * The object type, always 'response'
   */
  object?: 'response';

  /**
   * Aggregated text output from all output_text items (SDK-only convenience
   * property)
   */
  output_text?: string | null;

  /**
   * Whether parallel tool calls were enabled
   */
  parallel_tool_calls?: boolean | null;

  /**
   * Presence penalty used for this response
   */
  presence_penalty?: number | null;

  /**
   * Previous response ID referenced, if any
   */
  previous_response_id?: string | null;

  /**
   * Prompt cache key used for this response
   */
  prompt_cache_key?: string | null;

  /**
   * Reasoning configuration and outputs
   */
  reasoning?: Shared.JSONObjectInput | null;

  /**
   * Safety identifier used for this response
   */
  safety_identifier?: string | null;

  /**
   * Service tier used for this response
   */
  service_tier?: string | null;

  /**
   * Whether the response was stored for later retrieval
   */
  store?: boolean | null;

  /**
   * Temperature parameter used
   */
  temperature?: number | null;

  /**
   * Text configuration used for this response
   */
  text?: Shared.JSONObjectInput | null;

  /**
   * Tool choice configuration used
   */
  tool_choice?: string | Shared.JSONObjectInput | null;

  /**
   * Tools that were available to the model
   */
  tools?: Array<Shared.JSONObjectInput> | null;

  /**
   * List of tool names that were executed server-side (e.g., MCP tools).
   */
  tools_executed?: Array<string> | null;

  /**
   * Number of logprob tokens returned per position
   */
  top_logprobs?: number | null;

  /**
   * Top-p parameter used
   */
  top_p?: number | null;

  /**
   * Truncation strategy applied when context exceeded limits
   */
  truncation?: string | null;

  /**
   * Token usage statistics for the response
   */
  usage?: Shared.JSONObjectInput | null;
}

export namespace Response {
  /**
   * Error details for a single MCP server failure.
   */
  export interface MCPServerErrors {
    /**
     * Human-readable error message.
     */
    message: string;

    /**
     * Machine-readable error code.
     */
    code?: string | null;

    /**
     * Suggested action for the user.
     */
    recommendation?: string | null;
  }
}

/**
 * Responses request schema with Dedalus extensions.
 */
export interface ResponseCreateParams {
  /**
   * Whether to run the model response in the background.
   * [Learn more](https://platform.openai.com/docs/guides/background).
   */
  background?: boolean | null;

  /**
   * Conversation that this response belongs to. Items from this conversation are
   * prepended to the input items, and output items from this response are
   * automatically added after completion.
   */
  conversation?: string | ResponseCreateParams.ResponseConversationParam | null;

  /**
   * Credentials for MCP server authentication. Each credential is matched to servers
   * by connection name.
   */
  credentials?: Shared.Credential | Shared.MCPCredentials | null;

  /**
   * Penalizes new tokens based on their frequency in the text so far.
   */
  frequency_penalty?: number | null;

  /**
   * Specify additional output data to include in the model response. Currently
   * supported values are:
   *
   * - `web_search_call.action.sources`: Include the sources of the web search tool
   *   call.
   * - `code_interpreter_call.outputs`: Includes the outputs of python code execution
   *   in code interpreter tool call items.
   * - `computer_call_output.output.image_url`: Include image urls from the computer
   *   call output.
   * - `file_search_call.results`: Include the search results of the file search tool
   *   call.
   * - `message.input_image.image_url`: Include image urls from the input message.
   * - `message.output_text.logprobs`: Include logprobs with assistant messages.
   * - `reasoning.encrypted_content`: Includes an encrypted version of reasoning
   *   tokens in reasoning item outputs. This enables reasoning items to be used in
   *   multi-turn conversations when using the Responses API statelessly (like when
   *   the `store` parameter is set to `false`, or when an organization is enrolled
   *   in the zero data retention program).
   */
  include?: Array<string> | null;

  /**
   * Text, image, or file inputs to the model, used to generate a response.
   *
   * Learn more:
   *
   * - [Text inputs and outputs](https://platform.openai.com/docs/guides/text)
   * - [Image inputs](https://platform.openai.com/docs/guides/images)
   * - [File inputs](https://platform.openai.com/docs/guides/pdf-files)
   * - [Conversation state](https://platform.openai.com/docs/guides/conversation-state)
   * - [Function calling](https://platform.openai.com/docs/guides/function-calling)
   */
  input?: string | Array<Shared.JSONObjectInput> | null;

  /**
   * A system (or developer) message inserted into the model's context.
   *
   * When using along with `previous_response_id`, the instructions from a previous
   * response will not be carried over to the next response. This makes it simple to
   * swap out system (or developer) messages in new responses.
   */
  instructions?: string | Array<Shared.JSONObjectInput> | null;

  /**
   * An upper bound for the number of tokens that can be generated for a response,
   * including visible output tokens and
   * [reasoning tokens](https://platform.openai.com/docs/guides/reasoning).
   */
  max_output_tokens?: number | null;

  /**
   * The maximum number of total calls to built-in tools that can be processed in a
   * response. This maximum number applies across all built-in tool calls, not per
   * individual tool. Any further attempts to call a tool by the model will be
   * ignored.
   */
  max_tool_calls?: number | null;

  /**
   * MCP server identifiers. Accepts marketplace slugs, URLs, or MCPServerSpec
   * objects. MCP tools are executed server-side and billed separately.
   */
  mcp_servers?: string | Shared.MCPServerSpec | Shared.MCPServers | null;

  /**
   * Set of up to 16 key-value string pairs that can be attached to the response for
   * structured metadata and later querying via the API or dashboard.
   */
  metadata?: { [key: string]: string } | null;

  /**
   * Model ID used to generate the response, like `gpt-4o` or `o3`. OpenAI offers a
   * wide range of models with different capabilities, performance characteristics,
   * and price points. Refer to the
   * [model guide](https://platform.openai.com/docs/models) to browse and compare
   * available models.
   */
  model?: string | Shared.DedalusModel | Array<Shared.DedalusModelChoice> | null;

  /**
   * Whether to allow the model to run tool calls in parallel.
   */
  parallel_tool_calls?: boolean | null;

  /**
   * Penalizes new tokens based on whether they appear in the text so far.
   */
  presence_penalty?: number | null;

  /**
   * Unique ID of the previous response to continue from when creating multi-turn
   * conversations. Cannot be used together with `conversation`.
   */
  previous_response_id?: string | null;

  /**
   * Stored prompt template reference (BYOK).
   */
  prompt?: ResponseCreateParams.Prompt | null;

  /**
   * Used by OpenAI to cache responses for similar requests to optimize your cache
   * hit rates. Replaces the `user` field.
   * [Learn more](https://platform.openai.com/docs/guides/prompt-caching).
   */
  prompt_cache_key?: string | null;

  /**
   * **gpt-5 and o-series models only**
   *
   * Configuration options for
   * [reasoning models](https://platform.openai.com/docs/guides/reasoning).
   */
  reasoning?: Shared.JSONObjectInput | null;

  /**
   * A stable identifier used to help detect users of your application that may be
   * violating OpenAI's usage policies. The IDs should be a string that uniquely
   * identifies each user. We recommend hashing their username or email address, in
   * order to avoid sending us any identifying information.
   * [Learn more](https://platform.openai.com/docs/guides/safety-best-practices#safety-identifiers).
   */
  safety_identifier?: string | null;

  /**
   * Specifies the processing type used for serving the request.
   *
   * - If set to 'auto', then the request will be processed with the service tier
   *   configured in the Project settings. Unless otherwise configured, the Project
   *   will use 'default'.
   * - If set to 'default', then the request will be processed with the standard
   *   pricing and performance for the selected model.
   * - If set to '[flex](https://platform.openai.com/docs/guides/flex-processing)' or
   *   '[priority](https://openai.com/api-priority-processing/)', then the request
   *   will be processed with the corresponding service tier.
   * - When not set, the default behavior is 'auto'.
   *
   * When the `service_tier` parameter is set, the response body will include the
   * `service_tier` value based on the processing mode actually used to serve the
   * request. This response value may be different from the value set in the
   * parameter.
   */
  service_tier?: 'auto' | 'default' | null;

  /**
   * Whether to store the generated response for later retrieval via the Responses
   * API.
   */
  store?: boolean | null;

  /**
   * If set to true, the model response data will be streamed to the client as it is
   * generated using
   * [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).
   * See the
   * [Streaming section below](https://platform.openai.com/docs/api-reference/responses-streaming)
   * for more information.
   */
  stream?: boolean;

  /**
   * Options for streaming response. Only set this when you set `stream: true`.
   */
  stream_options?: Shared.JSONObjectInput | null;

  /**
   * What sampling temperature to use, between 0 and 2. Higher values like 0.8 will
   * make the output more random, while lower values like 0.2 will make it more
   * focused and deterministic. We generally recommend altering this or `top_p` but
   * not both.
   */
  temperature?: number | null;

  /**
   * Configuration options for a text response from the model. Can be plain text or
   * structured JSON data. Learn more:
   *
   * - [Text inputs and outputs](https://platform.openai.com/docs/guides/text)
   * - [Structured Outputs](https://platform.openai.com/docs/guides/structured-outputs)
   */
  text?: Shared.JSONObjectInput | null;

  /**
   * How the model should select which tool (or tools) to use when generating a
   * response. See the `tools` parameter to see how to specify which tools the model
   * can call.
   */
  tool_choice?: string | Shared.JSONObjectInput | null;

  /**
   * An array of tools the model may call while generating a response. You can
   * specify which tool to use by setting the `tool_choice` parameter.
   *
   * We support the following categories of tools:
   *
   * - **Built-in tools**: Tools that are provided by OpenAI that extend the model's
   *   capabilities, like
   *   [web search](https://platform.openai.com/docs/guides/tools-web-search) or
   *   [file search](https://platform.openai.com/docs/guides/tools-file-search).
   *   Learn more about
   *   [built-in tools](https://platform.openai.com/docs/guides/tools).
   * - **MCP Tools**: Integrations with third-party systems via custom MCP servers or
   *   predefined connectors such as Google Drive and SharePoint. Learn more about
   *   [MCP Tools](https://platform.openai.com/docs/guides/tools-connectors-mcp).
   * - **Function calls (custom tools)**: Functions that are defined by you, enabling
   *   the model to call your own code with strongly typed arguments and outputs.
   *   Learn more about
   *   [function calling](https://platform.openai.com/docs/guides/function-calling).
   *   You can also use custom tools to call your own code.
   */
  tools?: Array<Shared.JSONObjectInput> | null;

  /**
   * An integer between 0 and 20 specifying the number of most likely tokens to
   * return at each token position, each with an associated log probability.
   */
  top_logprobs?: number | null;

  /**
   * An alternative to sampling with temperature, called nucleus sampling, where the
   * model considers the results of the tokens with top_p probability mass. So 0.1
   * means only the tokens comprising the top 10% probability mass are considered.
   *
   * We generally recommend altering this or `temperature` but not both.
   */
  top_p?: number | null;

  /**
   * The truncation strategy to use for the model response.
   *
   * - `auto`: If the input to this Response exceeds the model's context window size,
   *   the model will truncate the response to fit the context window by dropping
   *   items from the beginning of the conversation.
   * - `disabled` (default): If the input size will exceed the context window size
   *   for a model, the request will fail with a 400 error.
   */
  truncation?: 'auto' | 'disabled' | null;

  /**
   * This field is being replaced by `safety_identifier` and `prompt_cache_key`. Use
   * `prompt_cache_key` instead to maintain caching optimizations. A stable
   * identifier for your end-users. Used to boost cache hit rates by better bucketing
   * similar requests and to help OpenAI detect and prevent abuse.
   * [Learn more](https://platform.openai.com/docs/guides/safety-best-practices#safety-identifiers).
   */
  user?: string | null;
}

export namespace ResponseCreateParams {
  /**
   * Conversation reference for continuing a Responses session.
   */
  export interface ResponseConversationParam {
    /**
     * Identifier of the existing conversation.
     */
    id: string;
  }

  /**
   * Stored prompt template reference (BYOK).
   */
  export interface Prompt {
    /**
     * Identifier of the stored prompt.
     */
    id: string;

    /**
     * Variables to substitute into the stored prompt template.
     */
    variables?: Shared.JSONObjectInput | null;

    /**
     * Optional version identifier of the stored prompt.
     */
    version?: string | null;
  }
}

export interface ResponseCreateParams {
  /**
   * Whether to run the model response in the background.
   * [Learn more](https://platform.openai.com/docs/guides/background).
   */
  background?: boolean | null;

  /**
   * Conversation that this response belongs to. Items from this conversation are
   * prepended to the input items, and output items from this response are
   * automatically added after completion.
   */
  conversation?: string | ResponseCreateParams.ResponseConversationParam | null;

  /**
   * Credentials for MCP server authentication. Each credential is matched to servers
   * by connection name.
   */
  credentials?: Shared.Credential | Shared.MCPCredentials | null;

  /**
   * Penalizes new tokens based on their frequency in the text so far.
   */
  frequency_penalty?: number | null;

  /**
   * Specify additional output data to include in the model response. Currently
   * supported values are:
   *
   * - `web_search_call.action.sources`: Include the sources of the web search tool
   *   call.
   * - `code_interpreter_call.outputs`: Includes the outputs of python code execution
   *   in code interpreter tool call items.
   * - `computer_call_output.output.image_url`: Include image urls from the computer
   *   call output.
   * - `file_search_call.results`: Include the search results of the file search tool
   *   call.
   * - `message.input_image.image_url`: Include image urls from the input message.
   * - `message.output_text.logprobs`: Include logprobs with assistant messages.
   * - `reasoning.encrypted_content`: Includes an encrypted version of reasoning
   *   tokens in reasoning item outputs. This enables reasoning items to be used in
   *   multi-turn conversations when using the Responses API statelessly (like when
   *   the `store` parameter is set to `false`, or when an organization is enrolled
   *   in the zero data retention program).
   */
  include?: Array<string> | null;

  /**
   * Text, image, or file inputs to the model, used to generate a response.
   *
   * Learn more:
   *
   * - [Text inputs and outputs](https://platform.openai.com/docs/guides/text)
   * - [Image inputs](https://platform.openai.com/docs/guides/images)
   * - [File inputs](https://platform.openai.com/docs/guides/pdf-files)
   * - [Conversation state](https://platform.openai.com/docs/guides/conversation-state)
   * - [Function calling](https://platform.openai.com/docs/guides/function-calling)
   */
  input?: string | Array<Shared.JSONObjectInput> | null;

  /**
   * A system (or developer) message inserted into the model's context.
   *
   * When using along with `previous_response_id`, the instructions from a previous
   * response will not be carried over to the next response. This makes it simple to
   * swap out system (or developer) messages in new responses.
   */
  instructions?: string | Array<Shared.JSONObjectInput> | null;

  /**
   * An upper bound for the number of tokens that can be generated for a response,
   * including visible output tokens and
   * [reasoning tokens](https://platform.openai.com/docs/guides/reasoning).
   */
  max_output_tokens?: number | null;

  /**
   * The maximum number of total calls to built-in tools that can be processed in a
   * response. This maximum number applies across all built-in tool calls, not per
   * individual tool. Any further attempts to call a tool by the model will be
   * ignored.
   */
  max_tool_calls?: number | null;

  /**
   * MCP server identifiers. Accepts marketplace slugs, URLs, or MCPServerSpec
   * objects. MCP tools are executed server-side and billed separately.
   */
  mcp_servers?: string | Shared.MCPServerSpec | Shared.MCPServers | null;

  /**
   * Set of up to 16 key-value string pairs that can be attached to the response for
   * structured metadata and later querying via the API or dashboard.
   */
  metadata?: { [key: string]: string } | null;

  /**
   * Model ID used to generate the response, like `gpt-4o` or `o3`. OpenAI offers a
   * wide range of models with different capabilities, performance characteristics,
   * and price points. Refer to the
   * [model guide](https://platform.openai.com/docs/models) to browse and compare
   * available models.
   */
  model?: string | Shared.DedalusModel | Array<Shared.DedalusModelChoice> | null;

  /**
   * Whether to allow the model to run tool calls in parallel.
   */
  parallel_tool_calls?: boolean | null;

  /**
   * Penalizes new tokens based on whether they appear in the text so far.
   */
  presence_penalty?: number | null;

  /**
   * Unique ID of the previous response to continue from when creating multi-turn
   * conversations. Cannot be used together with `conversation`.
   */
  previous_response_id?: string | null;

  /**
   * Stored prompt template reference (BYOK).
   */
  prompt?: ResponseCreateParams.Prompt | null;

  /**
   * Used by OpenAI to cache responses for similar requests to optimize your cache
   * hit rates. Replaces the `user` field.
   * [Learn more](https://platform.openai.com/docs/guides/prompt-caching).
   */
  prompt_cache_key?: string | null;

  /**
   * **gpt-5 and o-series models only**
   *
   * Configuration options for
   * [reasoning models](https://platform.openai.com/docs/guides/reasoning).
   */
  reasoning?: Shared.JSONObjectInput | null;

  /**
   * A stable identifier used to help detect users of your application that may be
   * violating OpenAI's usage policies. The IDs should be a string that uniquely
   * identifies each user. We recommend hashing their username or email address, in
   * order to avoid sending us any identifying information.
   * [Learn more](https://platform.openai.com/docs/guides/safety-best-practices#safety-identifiers).
   */
  safety_identifier?: string | null;

  /**
   * Specifies the processing type used for serving the request.
   *
   * - If set to 'auto', then the request will be processed with the service tier
   *   configured in the Project settings. Unless otherwise configured, the Project
   *   will use 'default'.
   * - If set to 'default', then the request will be processed with the standard
   *   pricing and performance for the selected model.
   * - If set to '[flex](https://platform.openai.com/docs/guides/flex-processing)' or
   *   '[priority](https://openai.com/api-priority-processing/)', then the request
   *   will be processed with the corresponding service tier.
   * - When not set, the default behavior is 'auto'.
   *
   * When the `service_tier` parameter is set, the response body will include the
   * `service_tier` value based on the processing mode actually used to serve the
   * request. This response value may be different from the value set in the
   * parameter.
   */
  service_tier?: 'auto' | 'default' | null;

  /**
   * Whether to store the generated response for later retrieval via the Responses
   * API.
   */
  store?: boolean | null;

  /**
   * If set to true, the model response data will be streamed to the client as it is
   * generated using
   * [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).
   * See the
   * [Streaming section below](https://platform.openai.com/docs/api-reference/responses-streaming)
   * for more information.
   */
  stream?: boolean;

  /**
   * Options for streaming response. Only set this when you set `stream: true`.
   */
  stream_options?: Shared.JSONObjectInput | null;

  /**
   * What sampling temperature to use, between 0 and 2. Higher values like 0.8 will
   * make the output more random, while lower values like 0.2 will make it more
   * focused and deterministic. We generally recommend altering this or `top_p` but
   * not both.
   */
  temperature?: number | null;

  /**
   * Configuration options for a text response from the model. Can be plain text or
   * structured JSON data. Learn more:
   *
   * - [Text inputs and outputs](https://platform.openai.com/docs/guides/text)
   * - [Structured Outputs](https://platform.openai.com/docs/guides/structured-outputs)
   */
  text?: Shared.JSONObjectInput | null;

  /**
   * How the model should select which tool (or tools) to use when generating a
   * response. See the `tools` parameter to see how to specify which tools the model
   * can call.
   */
  tool_choice?: string | Shared.JSONObjectInput | null;

  /**
   * An array of tools the model may call while generating a response. You can
   * specify which tool to use by setting the `tool_choice` parameter.
   *
   * We support the following categories of tools:
   *
   * - **Built-in tools**: Tools that are provided by OpenAI that extend the model's
   *   capabilities, like
   *   [web search](https://platform.openai.com/docs/guides/tools-web-search) or
   *   [file search](https://platform.openai.com/docs/guides/tools-file-search).
   *   Learn more about
   *   [built-in tools](https://platform.openai.com/docs/guides/tools).
   * - **MCP Tools**: Integrations with third-party systems via custom MCP servers or
   *   predefined connectors such as Google Drive and SharePoint. Learn more about
   *   [MCP Tools](https://platform.openai.com/docs/guides/tools-connectors-mcp).
   * - **Function calls (custom tools)**: Functions that are defined by you, enabling
   *   the model to call your own code with strongly typed arguments and outputs.
   *   Learn more about
   *   [function calling](https://platform.openai.com/docs/guides/function-calling).
   *   You can also use custom tools to call your own code.
   */
  tools?: Array<Shared.JSONObjectInput> | null;

  /**
   * An integer between 0 and 20 specifying the number of most likely tokens to
   * return at each token position, each with an associated log probability.
   */
  top_logprobs?: number | null;

  /**
   * An alternative to sampling with temperature, called nucleus sampling, where the
   * model considers the results of the tokens with top_p probability mass. So 0.1
   * means only the tokens comprising the top 10% probability mass are considered.
   *
   * We generally recommend altering this or `temperature` but not both.
   */
  top_p?: number | null;

  /**
   * The truncation strategy to use for the model response.
   *
   * - `auto`: If the input to this Response exceeds the model's context window size,
   *   the model will truncate the response to fit the context window by dropping
   *   items from the beginning of the conversation.
   * - `disabled` (default): If the input size will exceed the context window size
   *   for a model, the request will fail with a 400 error.
   */
  truncation?: 'auto' | 'disabled' | null;

  /**
   * This field is being replaced by `safety_identifier` and `prompt_cache_key`. Use
   * `prompt_cache_key` instead to maintain caching optimizations. A stable
   * identifier for your end-users. Used to boost cache hit rates by better bucketing
   * similar requests and to help OpenAI detect and prevent abuse.
   * [Learn more](https://platform.openai.com/docs/guides/safety-best-practices#safety-identifiers).
   */
  user?: string | null;
}

export namespace ResponseCreateParams {
  /**
   * Conversation reference for continuing a Responses session.
   */
  export interface ResponseConversationParam {
    /**
     * Identifier of the existing conversation.
     */
    id: string;
  }

  /**
   * Stored prompt template reference (BYOK).
   */
  export interface Prompt {
    /**
     * Identifier of the stored prompt.
     */
    id: string;

    /**
     * Variables to substitute into the stored prompt template.
     */
    variables?: Shared.JSONObjectInput | null;

    /**
     * Optional version identifier of the stored prompt.
     */
    version?: string | null;
  }
}

export declare namespace Responses {
  export {
    type Response as Response,
    type ResponseCreateParams as ResponseCreateParams
  };
}
